"Package","Version Installed","Vulnerability ID","Severity"
{{- range .Matches}}
"{{.Artifact.Name}}","{{.Artifact.Version}}","{{.Vulnerability.ID}}","{{.Vulnerability.Severity}}","{{.Vulnerability.Description}}","{{.Vulnerability.Fix.Versions}}","{{.Vulnerability.Fix.State}}"
{{- end}}
